<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>File Upload Demo</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@codolog/form@1.0.0/dist/form.min.css" type="text/css" />
	<link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>

<body>
	<header>
		<nav>
			<li style="flex: 1;text-align: left;"><a class="logo" href="/">File Upload Demo</a></li>
			<li><a href="/">Home</a></li>
			<li><a href="/posts/create">Create</a></li>
		</nav>
	</header>
	{{{ body }}}
</body>

</html>