<div class="container">
  <h1>
    Create Post
  </h1>
  <form id="formData">
    <div class="form-group">
      <img
        id="img"
        src="https://via.placeholder.com/400x250/CCC/000?text=Image+Preview"
        style="width: 100%;"
      />
    </div>
    <div class="form-group">
      <label class="form">
        Title
      </label>
      <input type="text" class="form" name="title" />
    </div>
    <div class="form-group">
      <label class="form">
        Description
      </label>
      <textarea class="form" name="description"></textarea>
    </div>
    <div class="form-group">
      <label class="form">
        Image
      </label>
      <input type="file" class="form" name="image" id="fileInput" />
    </div>
    <button type="submit" class="form">
      Create Post
    </button>
  </form>
</div>
<script type="text/javascript" src="/js/create.js"></script>